@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #FF0000;
    --text-color: white;
    --bg-color: #1A1A1A;
    --bg-nav: rgba(255, 255, 255, 0.5);
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Roboto;
}

header {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.78) 43.23%, rgba(0, 0, 0, 0.6) 69.79%, rgba(0, 0, 0, 0.24) 88.02%, rgba(0, 0, 0, 0) 100%);
    padding: 15px;
}

header img {
    height: 30px;
    filter: invert(100%);
    display: block;
    margin: auto;
}

.banner {
    height: calc(100vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

.banner-home {
    background-image: url(../img/background-mobile.jpg);
}

.banner > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(image.png);
    z-index: -1;
}

.conteudo-main {
    color: var(--text-color);
    padding: 30px;
    padding-bottom: 50px;
}

h1 {
    font-size: 48px;
    font-family: Montserrat;
    text-transform: uppercase;
}

h1 span,
h2 span {
    color: var(--primary-color);
}

.subtitulo {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.botao {
    border-radius: 7px;
    padding: 10px;
    display: flex;
    gap: 6px;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    border: 1px solid var(--text-color);
    width: fit-content;
    margin: auto;
    transition: background-color 0.2s, color 0.2s;
}

.botao:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.menuflu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bg-nav);
    backdrop-filter: blur(20px);
    border-radius: 4px 4px 0px 0px;
    z-index: 10;
}

.menuflu a {
    text-decoration: none;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.scroll {
    overflow-x: auto;
}

footer.container {
    padding-bottom: 100px;
    text-align: center;
    font-size: 12px;
}

.modal {
    color: var(--bg-color);
}

@media (min-width: 992px) {
    .banner {
        height: 100vh;
        justify-content: flex-end;
    }

    .banner-home {
        background-image: url(../img/background.jpg);
    }

    header {
        position: fixed;
        top:0px;
        z-index: 5;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    header img {
        display: inline-block;
        margin: 0;
    }

    header a {
        text-decoration: none;
        color: var(--text-color);
        padding: 16px;
        transition: color 0.2s;
    }

    header a:hover {
        color: var(--primary-color);
    }

    .container {
        padding-top: 80px;
    }

    footer.container {
        padding-bottom: 80px;
    }
}